{literal}<?php{/literal}
namespace {$project}\core\controller;

use Li\GridView;
use Li\Validate;

class {$controller}Controller extends Controller
{
    public function adminAction()
    {
        $model = M('{$controller}');

        $gridview = GridView::init($this, $model->search(), 
            [
                'columns' => [
{foreach $columns as $col}
                    '{$col.Field}',
{/foreach}
                    [
                        'alias' => '操作',
                        'buttons' => [
                            [
                                'name'=>'编辑',
                                'action'=>'update',
                            ],
                            [
                                'name'=>'删除',
                                'action'=>'delete',
                            ],
                        ]
                    ],
                ],
            ]
        );

        $this->assign('gridview', $gridview);
        $this->display();
    }

    public function createAction()
    {
        $model = M('{$controller}');

        if (IS_POST) {
            $model->attributes = $_POST['data'];
            if ($model->save()) {
                $this->assign('message', 'success');
            }
        }

        $this->assign('model', $model);
        $this->display();
    }
    
    public function updateAction()
    {
        $id = get('id');
        $model = M('{$controller}')->findByPk($id);

        if ($model == null) {
            $this->redirect('{lcfirst($controller)}/admin');
        }

        if (IS_POST) {
            $model->attributes = $_POST['data'];
            if ($model->save()) {
                $this->assign('message', 'success');
            }
        }

        $this->assign('model', $model);
        $this->display();
    }

    public function deleteAction()
    {
        $id = get('id');
        if (IS_AJAX) {
            if (M('{$controller}')->deleteByPk($id)) {
                $this->outputJSON(true);
            }
        }

        $this->outputJSON(false);
    }
}
