{literal}<?php{/literal}
namespace {$project}\core\model;

use Li\Model;
use Li\Criteria;
use Li\DataProvider;
/**
 * This is the model class for table "{$table}".
 *
 * The followings are the available columns in table '{$table}':
{foreach $columns as $column}
 * @property {$column.dataType} ${$column.Field}
{/foreach}
 */
class {$model} extends Model
{
    protected $_pk = {$pk};

    public static function model($className = __CLASS__)
    {
        return parent::model($className);
    }

    public function getTable()
    {
        return '{$table}';
    }

    public function alias()
    {
        return [
{foreach $columns as $column}
            '{$column.Field}' => '{if $column.Comment!=''}{$column.Comment}{else}{$column.Field}{/if}',
{/foreach}
        ];
    }

    public function rules()
    {
        $rules['default'] = [
{foreach $columns as $column}
{if !empty($column['validate'])}
            '{$column.Field}' => '{$column.validate}',
{/if}
{/foreach}
        ];

        return $rules;
    }

    public function relations()
    {
        return [];
    }

    public function search()
    {
        $this->attributes = $_GET;

        $criteria = new Criteria();
{foreach $columns as $column}
        $criteria->compare('{$column.Field}', $this->{$column.Field});
{/foreach}
        return new DataProvider($this, array(
            'criteria'=>$criteria,
        ));
    }
}
