<title>Gii</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/css/gii.css" />

<script src="{baseUrl()}/assets/js/jquery.min.js"></script>
<script src="{baseUrl()}/assets/js/application.js"></script>
<script src="{baseUrl()}/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="{baseUrl()}/assets/js/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/js/colorbox/colorbox.css" />