<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/css/gridview.css" />

<script src="{baseUrl()}/assets/js/jquery.min.js"></script>
<script src="{baseUrl()}/assets/js/application.js"></script>
<script src="{baseUrl()}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{baseUrl()}/assets/js/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="{baseUrl()}/assets/js/datepicker/bootstrap-datepicker3.min.css" />
<script src="{baseUrl()}/assets/js/datepicker/bootstrap-datepicker.min.js"></script>
<script src="{baseUrl()}/assets/js/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="{baseUrl()}/assets/js/moment.min.js"></script>

<script src="{baseUrl()}/assets/js/pl/plupload.full.min.js"></script>

<script src="{baseUrl()}/assets/js/admin.js"></script>
